<div class="green_content">
  <div class="inner_content">
    <div>
      ログイン
    </div>

    <div>
      <%= form_tag(sessions_path) do %>
        <div>
          <%= label_tag :email, 'メールアドレス' %>
          <%= text_field_tag :email %>
        </div>

        <div>
          <%= label_tag :password, 'パスワード' %>
          <%= password_field_tag :password %>
        </div>

        <%= submit_tag 'ログイン' %>
      <% end %>
    </div>
  </div>
</div>
