<div class="green_content">
  <div class="inner_content">
    スレッド一覧<br />

    <% if admin? %>

      <%= form_tag bbs_threads_update_path, method: :patch do %>
        <% bbs_threads.each do |bbs_thread| %>
          <%= hidden_field_tag 'bbs_threads[]id',   bbs_thread.id %>
          <%= text_field_tag   'bbs_threads[]name', bbs_thread.name %>
          <%= link_to "#{bbs_thread.name} (#{bbs_thread.contexts.size})", bbs_thread %>
          <%= link_to '削除', bbs_thread, method: :delete, data: { confirm: 'あー' } %><br />
        <% end %>

        <%= submit_tag('更新', :data => {:disable_with => '更新'}) %>
      <% end %>

      <%= form_for BbsThread.new(plate_id: @plate.id) do |f| %>
        <%= f.hidden_field :plate_id %>
        <%= f.text_field :name %><br />
        <%= text_area :context, :description, rows: 5, cols: 64 %><br />
        <%= f.submit 'スレッド新規作成', :data => {:disable_with => 'スレッド新規作成'} %>
      <% end %>

    <% else%>

      <% bbs_threads.each do |bbs_thread| %>
        <%= link_to "#{bbs_thread.name} (#{bbs_thread.contexts.size})", bbs_thread %>
      <% end %>

    <% end %>

  </div>
</div>
