<div class="gray_content">
  <div class="inner_content">
    <div class="bbs_thread_<%= bbs_thread.id %>">
      <%= link_to bbs_thread.name, bbs_thread, class: 'thread_title' %><br />

      <%= render partial: 'shared/context', collection: contexts %>

      <span class="insert_new_contexts"></span>

      <div class="kakikomi">
        <%= form_for bbs_thread.contexts.build(no: bbs_thread.contexts.last.no + 1), remote: true do |f| %>
          <%= f.hidden_field :no %>
          <%= f.hidden_field :bbs_thread_id %>
          <%= f.submit '書き込む', :data => {:disable_with => '書き込む'} %><br />
          <%= f.text_area :description, rows: 5, cols: 64 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
