<div id="context_<%= context.id %>" data-no="<%= context.no %>" class="context_body">
  <% youbi = youbi(context.created_at.wday) %>
  <%= link_to(context.no, context) %> ：名前：<span class="user_name"><%= context.user.name %></span> ：<%= context.created_at.strftime("%Y/%m/%d/(#{youbi}) %T") %><br />

  <div class="context_description">
    <%= raw wrap context.description %>
  </div>
</div>
