<div class="gray_content">
  <div class="inner_content">
    <span class="title"><%= bbs_thread.name %></span><br />

    <% contexts.each do |context| %>
      <%= render 'shared/context', context: context %>
      <% @context_max_no = context.no %>
    <% end %>

    <div class="write">
      <%= @context_max_no %>

      <%= form_for bbs_thread.contexts.build do |f| %>
        <%= f.hidden_field :bbs_thread_id %>
        <%= f.submit '書き込む' %><br />
        <%= f.text_area :description, rows: 5, cols: 64 %>
      <% end %>
    </div>
  </div>
</div>
