<% if signed_in?%>
  <div class="header">
    <% if admin? %>
      <%= link_to 'ユーザ管理', users_path %>
    <% end %>

    <%= link_to '設定', edit_user_path(current_user.id) %>
    <%= link_to 'ログアウト', signout_path, method: 'delete' %>

    admin[<%= admin? %>]
    super_admin[<%= super_admin? %>]
  </div>
<% end %>
