<% if signed_in?%>
  <div class="header">
    <% if super_admin? %>
      <%= link_to 'ユーザ管理' %>
    <% end %>

    <%= link_to '情報管理' %>
    <%= link_to 'ログアウト', signout_path, method: 'delete' %>

    admin[<%= admin? %>]
    super_admin[<%= super_admin? %>]
  </div>
<% end %>
